#!/bin/bash
# Environment variables are populated at runtime in /home/cardano/env_vars.sh

cardano-node run \
  --topology {{ cardano_config_dir }}/{{ cardano_topology_filename }}.json \
  --config {{ cardano_config_dir }}/{{ cardano_config_filename }} \
  --database-path {{ cardano_install_dir }}/db \
  --socket-path {{ cardano_install_dir }}/socket/{{ cardano_node_type }} \
  --host-addr 0.0.0.0 \
  --port {{ cardano_default_port }} \